# Ignore everything
*

# But do not ignore the data folder
!data/
!data/**

# Do not ignore documentation and app files
!mkdocs.yml
!docs/
!docs/**
!streamlit_app.py
!requirements.txt

# Do not ignore .gitignore itself
!.gitignore
